html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  margin-top: auto;
  margin-bottom: auto;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  max-width: 58.8rem;
  height: 80%;
  overflow: hidden;
  box-shadow: 0rem 0.8rem 5rem -1.9rem rgba(0, 0, 0, 0.75);
  border-radius: 0.8rem;
}

.container {
  display: flex;
  width: 100%;
  max-width: 58.8rem;
  margin: auto;
  overflow: hidden;
  border-radius: 0.8rem;
  box-shadow: 0rem 0.1rem 0.4rem 0.1rem rgba(0, 0, 0, 0.55);
}

.img-container {
  display: flex;
  width: 100%;
  max-width: 58.8rem;
  margin: auto;
  transition: all 0.3s linear;
}

img {
  width: 100%;
  max-width: 58.8rem;
}

.first:checked~.container>.img-container {
  transform: translateX(0);
}

.second:checked~.container>.img-container {
  transform: translateX(-100%);
}

.third:checked~.container>.img-container {
  transform: translateX(-200%);
}

.fourth:checked~.container>.img-container {
  transform: translateX(-300%);
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2.25rem;
}

.text-container {
  display: flex;
  height: 1.1rem;
  margin-left: 0.63rem;
  overflow: hidden;
}

.text {
  transition: all 0.3s linear;
}

.first:checked~.bottom-container>.text-container>.text {
  transform: translateY(0);
}

.second:checked~.bottom-container>.text-container>.text {
  transform: translateY(-100%);
}

.third:checked~.bottom-container>.text-container>.text {
  transform: translateY(-200%);
}

.fourth:checked~.bottom-container>.text-container>.text {
  transform: translateY(-300%);
}

input {
  display: none;
}

.controls {
  display: flex;
}

.choose__label {
  width: 0.7rem;
  height: 0.7rem;
  cursor: pointer;
  background: #2e77b7;
  border-radius: 50%;
  border: 0.2rem solid #2e77b7;
  margin-right: 0.8rem;
  transition: all 0.1s linear;
}

.choose__label:hover {
  cursor: pointer;
  background: #afafaf;
  border-radius: 50%;
  border: 0.2rem solid #afafaf;
}

#first:checked~.bottom-container>.controls label:nth-of-type(1),
#second:checked~.bottom-container>.controls label:nth-of-type(2),
#third:checked~.bottom-container>.controls label:nth-of-type(3),
#fourth:checked~.bottom-container>.controls label:nth-of-type(4) {
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  border: 0.2rem solid transparent;
  border: 0.2rem solid #2e77b7;
}

#first:checked~.bottom-container>.controls label:nth-of-type(1):hover,
#second:checked~.bottom-container>.controls label:nth-of-type(2):hover,
#third:checked~.bottom-container>.controls label:nth-of-type(3):hover,
#fourth:checked~.bottom-container>.controls label:nth-of-type(4):hover {
  border: 0.2rem solid #afafaf;
}
